* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
input {
    outline: none;
    border: none;
}
.container .calculator form input[type="button"] {
    height: 60px;
    width: 60px;
    box-shadow: -8px -8px 15px rgba(88, 0, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
}
.display input {
    flex-grow: 1;
    font-size: 1.5em;
    color: #5800FF;
    text-align: right;
}
.container .calculator form div:last-of-type input:last-of-type {
    flex-grow: 1;
}
